$white: rgb(243, 243, 243)
  
.main-header 
  position: -webkit-sticky // Safari
  position: sticky
  background-color: $white
  top: 0

  -webkit-box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 15%)
  box-shadow: 0 0 1rem #00000026
  background-color: #fff

.appreciation
  background-color: rgb(44, 96, 111)
  color: $white
  text-align: center
  padding: 1rem

.main-content
  padding: 5rem